@model int;


<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Payment Successfull</h1>
        Order Number: @Model <br /><br />
        <img src="~/images/course_9.png" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Payment has been made successfully! <br />
            <a class="mb-3 col-6" asp-controller="Order" asp-action="Details" asp-route-id="@Model" class="btn btn-primary" style="150px">
                Back to Order Details
            </a>
    </div>
</div> 

